# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart

# Miscellaneous
*.class
*.log
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.ipr
*.iws

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
.pub/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
